@import url(templates/container.css);
@import url(templates/font.css);
@import url(templates/icon.css);
@import url(templates/navbar.css);
@import url(templates/form.css);
@import url(templates/list.css);
@import url(templates/notification.css);

body{
    background-color: #EEEEEE;
    font-family: "Noto", sans;
    padding: 0;
    margin: 0;
};

main{
    margin: 0;
    padding: 0;
}

h1 {
    font-family: "Ephesis";
}

