.form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
}

.form-input{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 8px;

}

.form-input input{
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 200px;
    margin-bottom: 8px;
    background-color: #EEEEEE;
    box-shadow: 0 0 12px 0 rgb(49, 54, 63, 0.1);
    font-size: 16px;

}

.btn {
    padding: 10px 20px;
    background-color: rgb(118, 171, 174, 0.8);
    color:#EEEEEE;
    text-shadow:1px 1px 2px rgb(49, 54, 63, 0.4),
                0 0 1em #EEEEEE,
                0 0 0.2em rgb(49, 54, 63, 0.2);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
    margin: 8px 4px;
    font-weight: bolder;
    font-size: 12px;
}
btns{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#form-title{
    font-size: 24px;
    margin-bottom: 16px;
    text-align: center;
}