.navbar{
    background: linear-gradient(rgba(255, 166, 0, 0.7), 5%, #92ba92);
    color:#EEEEEE;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0px 20px;
    height: 35vh;
    margin: 0;

}

.navbar-title{
    text-align: center;

}

.navbar-title h1, h2{
    font-weight: bolder;
    font-family: "Ephesis";
    margin: 0;
    line-height: 48px;
}

.navbar-title h1{
    font-size: 72px;

}

.navbar-title h2{   
    font-size: 44px;
    
}


.navbar a{
    color:#EEEEEE;
    text-decoration: none;
}

.navbar-menu{
    padding: 12px 24px;

    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: "Ephesis";
    font-size: 28px;
    font-weight: bolder;
}